:root {
  --background: #131313;
  --grey: #4f5358;
  --dark-grey: #303133;

  --green: #62d153;
  --green-cache: #62d153;
  --red: #d65252;
  --blue: #5287d6;
  --blue-shadow: #5287d656;
  --gold: #dec057;
  --gold-shadow: #dec05756;

  --color: #fefefe;
}

* {
  font-family: var(--root-font);
  transition: 0.3s ease-out;
}

body {
  margin: 0px;
}
html {
  background: var(--background);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#start,
#stop {
  cursor: pointer;
  height: 10px;
  background: var(--dark-grey);
  width: 40px;
  border-radius: 10px 10px 0px 0px;
  opacity: 0.6;
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
#start.on {
  height: 6px !important;
  background-color: var(--green) !important;
  opacity: 1;
}

#stop.off {
  height: 6px !important;
  background-color: var(--red) !important;
  opacity: 1;
}

#start-btn.on {
  background-color: var(--green) !important;
  color: var(--background);
}

#stop-btn.off {
  background-color: var(--red) !important;
  color: var(--background);
}

button:disabled {
  opacity: 0.5;
  transform: scale(0.9);
  cursor: not-allowed !important;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

button:disabled:hover {
  transform: scale(0.9);
}
button:hover {
  transform: scale(0.96);
  -webkit-transform: scale(0.96);
  -moz-transform: scale(0.96);
  -ms-transform: scale(0.96);
  -o-transform: scale(0.96);
}

#page-short {
  box-shadow: 0px 0px 50px 0px var(--blue-shadow) inset;
}
#page-long {
  box-shadow: 0px 0px 50px 0px var(--gold-shadow) inset;
}

#pomo-input {
  color: var(--color);
}

#short-input {
  background-color: var(--blue);
  color: var(--background);
}

#long-input {
  background-color: var(--gold);

  color: var(--background);
}
